<div class="row">
    {{#each images}}
     <div class="col-md-3">
         <div class="card">
             <div class="card-body">
                 <h4 class="card-title">
                     {{name}}
                 </h4>
                 <img src="https://www.roastbrief.com.mx/wp-content/uploads/2018/06/la-importancia-de-un-buen-logotipo.png" alt="Girl in a jacket" width="50" height="50">
                 <p>{{description}}</p>
             </div>
         </div>
     </div>
    {{/each}}
</div>