<div class="row">
    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
                <th scope="col"><h4 class="card-title lign-items-center">
                    ALBUMS
                 </h4></th>
                
            </thead>
        </table>
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Photos</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each albums}}
                    <tr>
                    <th scope="row"><img src="/images/logo.jpg" alt="log" style="width: 30px; height: 30px;"></th>
                    <th scope="row">{{title}}</th>
                    <td>{{imageQuantity}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a href="/images-album/show-album" class="btn btn-primary">View</a>
                        <a href="/albums/show-addImage/:{{_id}}" class="btn btn-primary">Add Image</a>
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>