
<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each images}}
        <form action="/albumImage/delete/{{../albumId}}/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
        </form>
        <img src="{{imageUrl}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>


