
<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each images}}
        <img src="{{imageUrl}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>


