<div class="card">
    <div class="card-body">
        <h1>
            About Jaime Rios
        </h1>
        <p>
            Jaime Rios is an enthusiast and passionate developer and software programmer. In his 7-year professional career, Jaime has worked in private companies, investigation, and as a lecturer at university and colleges. Jaime likes working with object-oriented programming languages such as C#, C++, Android, Xamarin, ASP.NET MVC, ASP.NET CORE, Java and JavaScript. Jaime can work well in teams and he is always looking for learning from people and teaching others his knowledge.    
        </p>
    </div>
</div>