<div class="jumbotron mt-4">
    <h1 class="display-4"><th scope="row"><img src="/images/logo.png" alt="log" style="width: 50px; height: 50px;"></th>Images Gallery</h1>
    <p class="lead">Welcome to SYP Gallery (Store Your Past) where you can store and remember all the pictures from your memories. </p>
    <hr class="my-4">
    <p class="lead">In SYP Gallery you can upload Images, and incluide it on albums to reminds anytime you wish.</p>
</div>