<div class="jumbotron mt-4">
    <h1 class="display-4">Images Gallery</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, voluptate quis. Obcaecati neque impedit porro a. Recusandae magnam incidunt quae quam itaque, minus, sequi deserunt vel placeat, voluptas dignissimos tenetur!</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, voluptate quis. Obcaecati neque impedit porro a. Recusandae magnam incidunt quae quam itaque, minus, sequi deserunt vel placeat, voluptas dignissimos tenetur!</p>
    <a href="https://www.facebook.com/" class="btn btn-primary btn-lg">My facebook</a>
</div>