body{
    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


  .prefooter{
    height: 100px;
  }

  footer{
    text-align: center;
    background-color: black;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 100px;
      color: white;
  }
.search-filters{
  background-color: #2D701D; 
  margin: 10px 0px;
  border-radius: 10px;
  border: #000 2px linear;
 
}