<!-- Footer -->
<div class="prefooter"></div>
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <p>© 2020 Copyright: <a href="https://www.linkedin.com/in/jaime-alberto-rios-palacio-68994782/"> Jaime Alberto Rios Palacio</a></p>
    <p>Email: jaimearios1986@gmail.com</p>
    <p>Cellphone number: (0057) + 3104057687</p>
    <!-- Copyright -->
</footer>
<!-- Footer -->